/*Секция Герой*/
.hero {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title {
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0,06em;

    margin-bottom: 30px;

    @include mq(desktop) {
      font-size: 44px;
    }
}

.overlay {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
  padding-bottom: 118px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: 
  linear-gradient(
    to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
  ),
  url(../images/main/hero/hero_sm@1x.jpeg);
  background-color: var(--background-hero);


  @include mq(retina) {
    background-image: 
    linear-gradient(
      to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero/hero_sm@2x.jpeg);
    background-color: var(--background-hero);
}

  @include mq(tablet) {
  
  background-image: 
  linear-gradient(
    to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
  ),
  url(../images/main/hero/hero_md@1x.jpeg);
  background-color: var(--background-hero);


  @include mq(retina) {
    background-image: 
    linear-gradient(
      to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero/hero_md@2x.jpeg);
    background-color: var(--background-hero);
  }

  }

  @include mq(desktop) {
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;

    background-image: 
    linear-gradient(
      to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero/hero_lg@1x.jpeg);
    background-color: var(--background-hero);

    @include mq(retina) {
      background-image: 
      linear-gradient(
        to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/hero/hero_lg@2x.jpeg);
      background-color: var(--background-hero);
    }
  }

}
